<%= form_for(circle) do |f| %>
  <% if circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

      <ul>
      <% circle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <td>
        <%= f.label "名前" %>
      </td>
    </div>
    <div class="col-md-10">
      <td><%= f.text_field :name %></td>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <td><%= f.label "twitter id(任意)" %></td>
    </div>
    <div class="col-md-10">
      <td><%= f.text_field :twitter_id %></td>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <td><%= f.label "今回やること！" %></td>
    </div>
    <div class="col-md-10">
      <td><%= f.text_field :goal %></td>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <td><%= f.label "発表会参加しますか？" %></td>
    </div>
    <div class="col-md-10">
      <td>
        <label><%= f.radio_button :join, 1 %>参加します！</label>
        <label><%= f.radio_button :join, 2 %>考え中。。。</label>
      </td>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <td><%= f.label "成果物！" %></td>
    </div>
    <div class="col-md-10">
      <td><%= f.text_area :detail %></td>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
