<p id="notice"><%= notice %></p>

<h1>参加表明はこちらに！</h1>

<div class="row">
  <% @circles.each do |circle| %>
  <div class="col-md-12">
    <h3><%= circle.name %></h3><br>
    <%= circle.goal %><br>
    <%= circle.join %><br>
    <%#<%= link_to 'Show', circle %>
    <%= link_to '編集', edit_circle_path(circle) %>
    <%#<%= link_to 'Destroy', circle, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
  <%= link_to 'New Circle', new_circle_path %>
  <br>
</div>
