<p id="notice"><%= notice %></p>

<h3>
  <% if @circle.twitter_id.present? %>
  <img class="user-icon" src="<%= "http://furyu.nazo.cc/twicon/#{@circle.twitter_id}" %>">
  <% end %>
  <%= @circle.name %>
</h3>

<h2 class="table">今回の目標！</h2>
<small>
<%= to_br(@circle.goal).html_safe %>
</small>
<br>

<h2 class="table">作ったもの！</h2>
<% if @circle.detail.present? %>
<%= markdown(@circle.detail).html_safe %>
<% else %>
<h3 class="nothing">- Nothing -</h3>
<% end %>
<br>

<h2 class="table">コメント！</h2>
<% @circle.comments.each do |comment| %>
  <b><%= comment.name %>:</b>
  <%= comment.message %>
  <small class="comment">
    @<%= countdown(comment.updated_at) %>
  </small>
  <br>
<% end %>
<br>

<%= render 'comments_form', comment: @comment %>
<br>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
