<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @circle.twitter_id %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @circle.goal %>
</p>

<p>
  <strong>Join:</strong>
  <%= @circle.join %>
</p>

<p>
  <strong>Image:</strong>
  <%= @circle.image %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @circle.detail %>
</p>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
