<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>第8回 PeerCast忘年会ハッカソン</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()

        //data-hrefの属性を持つtrを選択しclassにclickableを付加
        $('tr[data-href]').addClass('clickable')
          //クリックイベント
          .click(function(e) {
            //e.targetはクリックした要素自体、それがa要素以外であれば
            if(!$(e.target).is('a')){
              //その要素の先祖要素で一番近いtrの
              //data-href属性の値に書かれているURLに遷移する
              window.location = $(e.target).closest('tr').data('href');}
        });
      })
    </script>
  </head>
  <body>
    <div class="container-fluid">
          <header id="header">
        <div class="container">
          <a href="/">
            <%= image_tag("peercast.png", :size => "70x70", :alt => "PeerCast") %>
            <%= image_tag("https://pbs.twimg.com/media/CzOqw9bUsAA9yjK.jpg:large", :size => "500x70", :alt => "第8回PeerCast忘年会ハッカソン") %>
            <%= image_tag("https://pbs.twimg.com/media/CzPrDtKUoAAU1LV.jpg:large", :size => "200x30", :alt => "第8回PeerCast忘年会ハッカソン") %>
          </a>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <h5><%= link_to '第8回PeerCast忘年会ハッカソン wiki', 'https://github.com/peca-dev/hackathon/wiki/%E7%AC%AC8%E5%9B%9E-PeerCast%E5%BF%98%E5%B9%B4%E4%BC%9A%E3%83%8F%E3%83%83%E3%82%AB%E3%82%BD%E3%83%B3' %></h5>
          <%= yield %>
        </div>
      </div>
      <footer id="footer">
        <div class="container">
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </footer>
    </div>
  </body>
</html>
